Popcorn-Time
VSCodium
dconf
dinit.d
dunst
evolution
forge
gedit
gtk-3.0
gtk-4.0
htop
lazygit
neofetch
pulse
transmission
.gsd-keyboard.settings-ported
GNOME-xdg-terminals.list
dleyna-renderer-service.conf
monitors.xml
pavucontrol.ini
user-dirs.dirs
user-dirs.locale
xdg-terminals.list
